<% include ../partials/header %>

<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="<%= (user.avatar ? user.avatar : "https://secure.gravatar.com/avatar/7da78759decf00aa72a86baa575bf92a.png?default=mm&filetype=png&secure=true&size=250") %>" alt="user profile image">
        </div>
        
        <h3>Username: <%= user.username %></h3>

        <h4>Name: <%= (user.firstName ? user.firstName : '') + ' ' +  (user.lastName ? user.lastName : '') %></h4>
        
        <% if (currentUser && currentUser.id == user.id) { %>
            <h4>Email: <%= (user.email ? user.email : '') %> </h4>

            <a href="/users/<%= user.id %>/edit">Edit your profile</a>
        <% } %>
       
    </div>
    <div class="col-md-8">
        <h2>Campgrounds:</h2>
        <ul>
           <% campgrounds.forEach(function(campground) { %>
               <li class="list-group-item"><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
           <% }); %>
       </ul>
    </div>
</div>

<% include ../partials/footer %>